*{
	text-decoration: none;
}

body{
	font-family: 'Inconsolata', sans-serif; 
	margin: 0px;
	overflow-x: hidden;
}
section {
	padding-top: 1%;
	padding-bottom: 1%;
}

/*Maquetacion pagina*/
.title-img {
	width: 100%;
	height: 100vh; /*Coge todo el view port*/
	background-image: url(../images/beawesome.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.main-title{
	position: absolute;
	left: 60%;
	top: 80%;
	color: #9B4444;
	animation : mainTitle 2s forwards;

}
/*Para el posicionamiento*/
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/*-----------------------*/

/*Navbar-------------*/
.navbar {
	position: fixed; /*Lo coloca en posicion relativa del navegador*/
	width: 100%;
	top:0px;
}

.navbar .navbar-list{
	font-size: 0;
	float: right;
	margin: 0px;
	list-style: none; /*Quita el estilo*/

}

.navbar .navbar-list .navbar-item{
	display: inline-block;
	background-color: #9B4444;
	cursor: pointer;


}

.navbar .navbar-list .navbar-item a{
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 15px;

}
.navbar .navbar-list .navbar-item a:hover{
	background-color: #B27700;

}



.info-center{
	margin-right: calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);
}
.navbar .navbar-list .navbar-item.active {
	color: #B27700;
	background-color: #B27700;
}

.navbar .navbar-list .navbar-item.active-reverse {
	color: #B27700;
	background-color: #B27700;
}
/*----------------------*/

/*Who am I--------------*/
.who{
	padding: 3%;
}
.title-section{
	color: #373D46;
	font-size: 20px;
	text-align: center;
}

.who .photo-me{
	max-width: 20%;
	float: left;
}
.who .photo-me img{
	
	border-radius: 50%;
	margin-top: 10%;
	margin-left: 80%;

}

.who .person-info{ 
	margin-top: 1%;
	max-width: 50%;
	float: right;
}

/*My studies*/

.color-section{
	background-color: #B27700;
	margin-right: calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);
}

.container-photo img {
	max-width: 100%;
	height: 100px;
	border-radius: 50%;
}

/*My Experience*/

.my-experience ul {
	padding:0;
}
.my-experience .container-photo ul{
	display: inline-block;
	padding: 1%;
	margin-left: 1%;
	
}

.my-experience .my-experience-list{
	list-style:none;
}
/*------------------------*/

hr{
    box-sizing: content-box;
}

.gaido-plataforma{

	max-width: 50%;
	padding-top: 2%;
	margin-left: 20%;
	
}

/*FORM*/
.form {
	padding: 0 20px;
}

.form .form-row {
	padding: 10px;
}

/*.box{
	border: 2px solid;
    border-radius: 25px;
}*/

.big-format{
	margin-left: 20%;
	margin-top: 10%;
	font-size: 24px;
}

input[type=button], input[type=submit], input[type=reset], button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 40px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 2px;
}
/*----------*/

/*Mapa*/
#googleMap {
	width: 100vw;
	height: 400px;
	margin-top: 2%;
	margin-bottom: 2%; 
}
/*------*/

/*Animaciones*/

@keyframes mainTitle {
	0% {
		font-size: 80px;
	}
	20%{
		font-size: 75px;
	}
	40%{
		font-size: 70px;
	}
	60%{
		font-size: 65px;
	}
	80%{
		font-size: 60px;
	}
	100%{
		font-size: 55px;
		visibility: visible;
	}
}
/*------*/

/*Footer------------------*/

.footer {
	background-color: rgba(0, 0, 0, 0.92);
	color: white;
	height: 20px;
	text-align: center;
	padding: 1%;
}
/*-------------------------*/



